@mixin flexbox($dir, $mainaxis, $crossaxis) {
  display: flex;
  flex-direction: $dir;
  justify-content: $mainaxis;
  align-items: $crossaxis;
}

@mixin center() {
  @include flexbox(row, center, center);
}

@mixin bg-pink() {
  background-color: $pink;
  background-image: url('../assets/images/textures/french-stucco.png');
}

@mixin bg-dark() {
  background-image: url('../assets/images/textures/pink-dust.png');
}

@mixin bg-conc() {
  background-image: url('../assets/images/textures/concrete-texture.png');
}

@mixin shadow() {
  box-sizing: border-box;
  box-shadow: 0px 0px 3px 3px darkgrey;
}

@mixin pinkbox() {
  @include bg-pink();
  @include shadow();
}

@mixin gridspan($row,$col) {
  grid-row: span $row;
  grid-column: span $col;
}

@mixin textstyle($size,$color) {
  font-size: $size;
  color: $color;
  text-shadow: 2px 2px darkgrey;
}

@mixin mediaQuery($minRes, $maxRes) {
    @media (min-width: #{$minRes}) and (max-width: #{$maxRes}) {
      @content;
    }
}
