@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
  font-family: 'Comfortaa', sans-serif;
  @include bg-conc();
}

.header {
  @include flexbox(row, flex-start, center);
  @include bg-pink();
  @include shadow();
  border: 1px solid black;
  height: 125px;
  position: fixed;
  padding: 5px;
  padding-left: 50px;
  width: 100%;
  top: 0;
  left: 0;
}

.header-box {
  margin: 5px;
  height: 115px;
}

.logo-container {
  img {
    height: 100%;
  }
}

.nav-container {
  @include flexbox(row, space-between, center);
}

.nav-button {
  @include center;
  @include bg-conc();
  margin: 0 5px;
  width: 125px;
  height: 75px;
  border: 2px solid darkgrey;
  border-radius: 30%;
  @include textstyle(1.25rem, black);
  font-weight: bolder;
  a {
    color: black;
    text-decoration: none;
  }
}

.top-pushdown {
  height: 115px;
  width: 100%;
}

.content-wrapper {
  display: grid;
  grid-template: repeat(5, 100px) / repeat(3, 1fr);
  grid-gap: $gutter-lg;
  width: 1024px;
  margin: $gutter-lg auto;
}

.banner {
  @include flexbox(column, space-around, center);
  @include gridspan(2,3);
  @include pinkbox();
  width: 100%;
}

.banner-logo {
  height: calc(66.67% - 15px);
  img {
    height: 100%;
  }
}

.banner-slogan {
  @include center();
  @include textstyle(2rem, $yellow);
  height: calc(33.33% - 15px);
}

.content-box {
  @include flexbox(column, center, center);
  @include gridspan(3,1);
  @include pinkbox();
}

.content-box-sidebar {
  @include bg-dark();
  box-sizing: border-box;
  border: 1px solid darkgrey;
  width: 100%;
  height: $gutter-lg;
}

.content-box-img {
  @include flexbox(column, flex-end, center);
  position: relative;
  height: calc(50% - 15px);
  width: 100%;
  overflow: hidden;
  img {
    width: 100%;
    border: 1px solid darkgrey;
  }
  .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(169,169,169,0), rgba(169,169,169,1));
    .overlay-text {
      @include textstyle(1.25rem,$green);
    }
  }
  &:hover {
    .overlay {
      @include flexbox(column, flex-end, center);
    }
  }
}

.content-box-text {
  @include center();
  @include pinkbox();
  height: calc(50% - 15px);
  width: 100%;
  p {
    @include textstyle(1.25rem,$yellow);
    padding: 15px;
  }
}
